@import './../../assets/styles/vars.scss';


.wrapper {
  position: absolute;
  right: 0;
  top: $search-height;
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header {
  width: 100%;
  background-color: $clr-blue-dark-1;
  color: #fff;
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__id {
    font-weight: 600;
    white-space: nowrap;
  }
  &__name {
    flex-grow: 1;
    font-size: 0.95em;
    margin: 0 1.5em;
  }
  &__button {
    color: inherit;
    font-size: 2em;
    line-height: 1;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: $clr-blue-light;
}



.content, .aside {
  height: 100%;
  padding: 1.5em 2em;
  border-left: 1px solid rgba($clr-grey, .1);
}
.content {
  width: 80%; 
}

.aside {
  width: 20%;
}

.textItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5em;
  &__title {
    font-size: 0.9em;
    margin-bottom: .3em;
    color: rgba($clr-grey, .7);
  }
  &__value {
    font-size: 0.95em;
    color: rgba(#000, .9)
  }
}

