@import './../../assets/styles/vars.scss';


.wrapper {
  position: absolute;
  right: 0;
  top: $search-height;
  width: 55%;
  height: calc(100% - #{$search-height});
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $clr-blue-light;
  box-shadow: -.2em 0 1em $clr-grey-light;
}

.header {
  width: 100%;
  background-color: $clr-blue-dark-1;
  color: #fff;
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__id {
    font-weight: 600;
    white-space: nowrap;
  }
  &__name {
    flex-grow: 1;
    font-size: 0.95em;
    margin: 0 1.5em;
  }
  &__button {
    color: inherit;
    font-size: 2em;
    line-height: 1;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}


.content, .aside {
  height: calc(100% - #{$search-height});
  padding: 1.5em 2em;
  border-left: 1px solid rgba($clr-grey, .1);
  overflow-y: scroll;
}
.content {
  width: 75%; 
}
.aside {
  width: 25%;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2.5em;
}

.textItem {
  &__value, &__date {
    font-size: 0.95em;
    color: rgba(#000, .9)
  }
  &__field {
    width: 100%;
    font-size: 1em;
    padding: 1em;
    color: $clr-grey;
    background-color: #fff;
    border-radius: 1em;
    border: .1em solid $clr-blue-1;
    padding: 1em;
    transition: .2s;
    &:focus {
      box-shadow: .1em .1em .2em $clr-blue-1;
    }
  }
  &__date {
    position: relative;
    padding-left: 1.5em;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 1.2em;
      height: 1em;
      background: url('./../../assets/images/calendar.png') center / cover no-repeat;
    }
  }
}

