@import './../../assets/styles/vars.scss';



.content {
  composes: content from './../../components/CardTemplate/CardTemplate.module.scss';
}
.aside {
  composes: aside from './../../components/CardTemplate/CardTemplate.module.scss';
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2.5em;
}

.textItem {
  &__value, &__date {
    font-size: 0.95em;
    color: rgba(#000, .9)
  }
  &__date {
    position: relative;
    padding-left: 1.5em;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 1.2em;
      height: 1em;
      background: url('./../../assets/images/calendar.png') center / cover no-repeat;
    }
  }
}

