@import './../../assets/styles/vars.scss';


.field {
  width: 100%;
  height: 100px;
  font-size: 1em;
  padding: 1em;
  color: $clr-grey;
  background-color: #fff;
  border-radius: .5em;
  border: .2em solid rgba($clr-grey, .3);
  padding: 1em;
  transition: .2s;
  &:focus {
    box-shadow: .1em .1em .2em $clr-blue-1;
  }
}