@import './../../../assets/styles/vars.scss';


.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.avatar {
  width: 3em;
  height: 3em;
  background-color: $clr-grey-light;
  border-radius: 50%;
  border: 1px solid rgba($clr-grey, .3);
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name {
  font-weight: 600;
  color: $clr-grey;
  margin-bottom: 0.3em;
}
.date {
  color: $clr-grey;
  margin-bottom: 1em;
  font-size: 0.85em;
}
.comment {
  font-size: 0.95em;
  padding: 1em 1.5em;
  background-color: rgba($clr-blue-1, .2);
  border-radius: 1em;
  border: 1px solid rgba($clr-grey, .3);
  box-shadow: 0.1em .1em .2em rgba(#000, .1);
}