@import './../../../assets/styles/vars.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.item {
  font-size: 0.9em;
  margin: 0 .75em .3em 0;
  background-color: #fff;
  border: 2px solid rgba($clr-grey, .3);
  border-radius: .5em;
  padding: 0.25em;
}