@import './../../../assets/styles/vars.scss';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: .2s;
  &.nested {
    padding: .4em .6em;
    &:hover {
      background-color: $clr-grey-light;
    }
  }
}