@import './../assets/styles/vars.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex: 16px;
  line-height: 1.3;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
}


.app {
  position: relative;
  height: 100vh;
  padding-bottom: calc(#{$search-height} + 2em);
  overflow: hidden;
}

.main {
  width: calc(100% - $width-navbar);
  height: 100%;
  background-color: #fff;
  margin-top: $search-height;
  margin-left: $width-navbar;
  padding: 1em .5em;
}