@import './../../assets/styles/vars.scss';

.wrapper {
  width: 100%;
  height: $search-height;
  position: fixed;
  top: 0;
  left: $width-navbar;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 1em;
  background-color: $clr-blue-light;
  box-shadow: 0 .2em .5em rgba(#000, .3);
}


.form {
  position: relative;
  width: 600px;
}

.input {
  width: 100%;
  background-color: #fff;
  font-size: 1em;
  padding: .5em 2.5em .5em 1.25em;
  border-radius: 1.5em;
  border: .1em solid $clr-blue;
  outline: none;
  color: $clr-grey;
  transition: .2s;
  &:focus {
    box-shadow: .1em .1em .2em $clr-blue;
  }
}

.button {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  background: url('./../../assets/images/search-icon.png') center / cover no-repeat;
  width: 1.25em;
  height: 1.25em;
  font-size: 1em;
}