@import './../../assets/styles/vars.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}


.table {
  width: 100%; 
  height: 100%;
  &__list {
    width: 100%; 
    height: 100%;
    overflow-y: scroll;
  }
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .75em 0;
  }
  &__item {
    color: $clr-grey;
    padding: .25em 1em;
    min-height: 2.1em;
    &__id {
      width: 5%;
      text-align: center;
    }
    &__name {
      width: 35%;
    }
    &__status {
      width: 8%;
      &__text {
        border-radius: 1em;
        color: #fff;
        font-size: 0.85em;
        padding: 0.3em;
        display: block;
        text-align: center;
      }
    }
    &__executor {
      width: 52%;
    }
  }
}




