

$width-navbar: 100px;
$search-height: 65px;



$clr-blue-light: #D1E0ED;
$clr-blue-1: #60B6FD;
$clr-blue-2: #008CF0;
$clr-blue-dark: #002137;


$clr-grey-light: #DAE0E7;
$clr-grey: #525460;
$clr-grey-dark: #404147;